@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
  font-family: 'Noto Sans', sans-serif;
  --text: #252525;
  --background: #ffffff;
  --background2: #dbdbdb;
  --primary: #cfb991;
  --secondary: #000000;
  --accent: #daaa00;
}

[data-theme="dark"] {
  --text: #ffffff;
  --background: #252525;
  --background2: #000000;
  --primary: #cfb991;
  --secondary: #555960;
  --accent: #daab00;
}

/* COLORS */

.accent {
  color: var(--accent);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.background {
  background-color: var(--background);
}

.background2 {
  background-color: var(--background2);
}

.text {
  color: var(--text);
}

/* others */

html { background-color: var(--background); }

html, body {
  overflow-x: hidden;
}
body {
  position: relative;
}

main {
  scroll-behavior: smooth;
  color: var(--text);
  background-color: var(--background);
  transition: all 0.2s ease;
  font-size: clamp(1rem, -0.875rem + 5.333vw, 3.5rem);
}

p {
  color: var(--text);
  transition: all 0.2s ease;
  font-size: clamp(0.75rem, -0.875rem + 5vw, 1.2rem);
}

.navbar {
  background-color: var(--background);
  backdrop-filter: blur(0.8);
  transition: all 0.2s ease;
}

.hero {
  background-color: var(--background2);
  transition: all 0.2s ease;
}

.description-clamp-1 {
  color: var(--text);
  transition: all 0.2s ease;
}

.description-clamp-2 {
  color: var(--text);
  transition: all 0.2s ease;
}

.research-pillars-clamp {
  color: var(--text);
  transition: all 0.2s ease;
}

.tabButton {
  border-color: var(--text);
  transition: all 0.2s ease;
}

.tabButton:hover {
  border-color: var(--accent);
  transition: all 0.2s ease;
}

.tabButtonSelected {
  border-color: var(--accent);
}

.tabSelector {
  background: var(--background);
  transition: all 0.2s ease;
}

.contact-button {
  background-color: var(--primary);
  color: #252525 !important;
  transition: all 0.2s ease;
}

.footer {
  background-color: var(--background2);
  transition: all 0.2s ease;
}

.footerText {
  color: var(--text);
  font-size: clamp(0.5rem, -0.875rem + 3.5vw, 1rem);
}