@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
  font-family: 'Noto Sans', sans-serif;
  --text: #252525;
  --background: #ffffff;
  --primary: #cfb991;
  --secondary: #000000;
  --accent: #daaa00;
}

[data-theme="dark"] {
  --text: #ffffff;
  --background: #252525;
  --primary: #cfb991;
  --secondary: #555960;
  --accent: #daab00;
}

main {
  scroll-behavior: smooth;
  color: var(--text);
  background-color: var(--background);
  transition: all 0.2s ease;
}

p {
  color: var(--text);
  transition: all 0.2s ease;
}

.navbar {
  background-color: var(--background);
  transition: all 0.2s ease;
}